<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Aditi.Libraries.SOA.Contracts.Services"/>
  <assembly name="Aditi.Libraries.SOA.Proxies"/>

  <namespace name="Aditi.Libraries.SOA.Contracts.Services"/>
  <namespace name="Aditi.Libraries.SOA.Proxies"/>

  <container>
    <register mapTo="CustomerServiceProxy" type="ICustomerService"/>
  </container>
</unity>