<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Aditi.Libraries.Storage.Interfaces"/>
  <assembly name="Aditi.Libraries.Storage.Impl.SqlServer"/>
  <assembly name="Aditi.Libraries.DataAccess.Interfaces"/>
  <assembly name="Aditi.Libraries.DataAccess.Impl"/>
  <assembly name="Aditi.Libraries.Business.Interfaces"/>
  <assembly name="Aditi.Libraries.Business.Impl"/>

  <namespace name="Aditi.Libraries.Storage.Interfaces"/>
  <namespace name="Aditi.Libraries.Storage.Impl.SqlServer"/>
  <namespace name="Aditi.Libraries.DataAccess.Interfaces"/>
  <namespace name="Aditi.Libraries.DataAccess.Impl"/>
  <namespace name="Aditi.Libraries.Business.Interfaces"/>
  <namespace name="Aditi.Libraries.Business.Impl"/>
  <namespace name="Aditi.Libraries.Business.Impl.Validations"/>

  <container>
    <register mapTo="CustomersContext" type="ICustomersContext" />
    <register mapTo="CustomersRepository" type="ICustomersRepository" />
    <register mapTo="CustomerValidator" type="ICustomerValidator" />
    <register mapTo="CustomersBusinessComponent" type="ICustomersBusinessComponent" />
  </container>
</unity>