@model Customer

<br />

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <h5>CRM System</h5>
            <h6>This would help to manage customer information from CRM System.</h6>
        </div>

        @Html.DisplayForModel()

        <br />


        @Html.ActionLink( "< Back", "Index", "Customers" )

        |

        @Html.ActionLink( "Home", "Index", "Home" )
    </div>
</div>

