<div ng-if="customersList">
    <div class="well well-sm">
        <h5>Customers Information Viewer</h5>
        <h6>This view would display customers information using Directives!</h6>
    </div>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Customer #</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="customer in customersList" ng-click="selectCustomer(customer.CustomerId)">
                <td> {{ customer.CustomerId }} </td>
                <td> {{ customer.CustomerName }} </td>
                <td> {{ customer.ActiveStatus | aditiStatus }} </td>
            </tr>
        </tbody>
    </table>
</div>