<div ng-if="details">
    <div class="well well-sm">
        <h5>Customers Detail Viewer of ({{details.CustomerName}})</h5>
        <h6>This view would display customers information using Directives!</h6>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img img-responsive img-rounded"
                 ng-src="{{ details.CustomerId | aditiCustomerPhotoUrl }}"
                 alt="Customer Photo"
                 title="Photo of {{ details.CustomerName }}" />
        </div>

        <div class="col-md-8">
            <table class="table table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Property Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Customer Profile Id:</td>
                        <td> {{ details.CustomerId }} </td>
                    </tr>

                    <tr>
                        <td>Business Contact Name:</td>
                        <td> {{ details.CustomerName }} </td>
                    </tr>

                    <tr>
                        <td>Business Address:</td>
                        <td> {{ details.Address }} </td>
                    </tr>

                    <tr>
                        <td>Customer Profile Id:</td>
                        <td> {{ details.CustomerId }} </td>
                    </tr>

                    <tr>
                        <td>Total Credit Limit:</td>
                        <td> {{ details.CreditLimit | currency: '$ ' }} </td>
                    </tr>

                    <tr>
                        <td>Active Status :</td>
                        <td> {{ details.ActiveStatus | aditiStatus }} </td>
                    </tr>

                    <tr>
                        <td>Email Address:</td>
                        <td> {{ details.EmailId }} </td>
                    </tr>

                    <tr>
                        <td>Phone Number:</td>
                        <td> {{ details.PhoneNumber }} </td>
                    </tr>

                    <tr>
                        <td>Remarks:</td>
                        <td> {{ details.Remarks }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
