<nav>
    <ul class="nav nav-justified">
        <li class="active">
            @Html.ActionLink( "Home", "Index", "Home" )
        </li>
        <li>
            @Html.ActionLink( "Customers", "Index", "Customers" )
        </li>
        <li>
            @Html.ActionLink( "New Customer", "NewCustomer", "Customers" )
        </li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
