<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Aditi.Libraries.SOA.Contracts.Services"/>
  <assembly name="Aditi.Libraries.SOA.Proxies"/>
  <assembly name="Aditi.Libraries.SOA.Proxies.Extensions"/>
  <assembly name="Aditi.Libraries.Web.Extensibility.Interfaces"/>
  <assembly name="Aditi.Libraries.Web.Extensibility.Impl"/>

  <namespace name="Aditi.Libraries.SOA.Contracts.Services"/>
  <namespace name="Aditi.Libraries.SOA.Proxies"/>
  <namespace name="Aditi.Libraries.SOA.Proxies.Extensions"/>
  <namespace name="Aditi.Libraries.Web.Extensibility.Interfaces"/>
  <namespace name="Aditi.Libraries.Web.Extensibility.Impl"/>

  <container>
    <register mapTo="SecuredCustomerServiceProxy" type="ICustomerService"/>
    <register mapTo="AditiCacheService" type="ICacheService">
      <lifetime type="singleton"/>
    </register>
  </container>
</unity>