
<div id="footer" class="container-fluid">
    <div class="footer-div row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <span class="footer-links">
                <a href="">Privacy Policy</a> |
                <a href="">Terms of Use</a> |
                <a href="">Download App</a>
            </span>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5"><span>&copy;2016 HARMAN INTERNATIONAL INDUSTRIES, INCORPORATED. All Rights Reserved</span></div>
        <div class="col-xs-3 col-sm-3 col-md-3"><i class="fa fa-facebook-official" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i><i class="fa fa-youtube-square" aria-hidden="true"></i><i class="fa fa-pinterest" aria-hidden="true"></i><i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
    </div>
</div>