
    <div id="header" class="container-fluid">
        <div class="Header-div row" ng-repeat="logo in logoList">
            <div class="col-xs-6 col-sm-6 col-md-6 logo-txt"><span  class=" ng-binding">{{logo.WhiteLabelName}}</span></div>
            <div class="col-xs-6 col-sm-6 col-md-6 logo"><img style="float:right;height: 50px;width: 100px;" class="img-responsive"  src="{{logo.WhiteLabelLogo}}"/></div>
        </div>
</div>

            
       
        <!--<div style="float:right;vertical-align:central" >
            <input id="Text1" type="text" />
            <div class="glyphicon glyphicon-search"></div>
        </div>-->
